# /etc/systemd/system/rocketapi.service

[Unit]
Description=RocketApi Server
After=network.target

[Service]
PIDFile=/run/rocketapi.pid
User=root
Group=www-data
WorkingDirectory=/opt/rocketapi
ExecStart=/opt/rocketapi/rocketapi -c /opt/rocketapi/config.yml
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

# 'on-failure' or 'always'
Restart=always

[Install]
WantedBy=multi-user.target